<form>

<mat-form-field>
  <input matInput placeholder="Skill Name"
         name="name" [(ngModel)]="gene.name">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Place Name"
           name="place" [(ngModel)]="gene.place">
</mat-form-field>
  
<mat-select placeholder="Skill Type" name="type"
          [(ngModel)]="gene.type">
  <mat-option *ngFor="let type of types" [value]="type">
    {{ type }}
  </mat-option>
</mat-select>

<mat-form-field>
    <textarea matInput placeholder="Notes"
           name="notes" [(ngModel)]="gene.notes">
    </textarea>
</mat-form-field>

<mat-card>
  {{ gene | json }}
</mat-card>


</form>

